.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}
.c{
  display: flex;
  align-items: center;
  justify-content: center;
}
.buton {
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  color: #4ECCA3;
  border-radius: 20%;
} 
 h1{
  text-align: center;
  color: chartreuse;
  font-size: 2rem;
  font-family: 'Lobster', cursive;
}
.buton:hover {background-color: #3e8e41}
.buton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
